*{
    margin: 0;
    padding: 0;
    text-align: center;
}

h1{
    background-color: rgb(81, 32, 241);
    color: rgb(255, 251, 251);
    height: 6rem;
    line-height: 6rem;
    font-size: 3rem;
    font-family: Arial, Helvetica, sans-serif;
}
.choice{
    height: 165px;
    width: 165px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.choice:hover{
    cursor: pointer;
    background-color: #081b30;
}
img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
}
.score-board{
    display: flex;
    justify-content: center;
    align-items: center;/*for vertical align centre */
    font-size: 2rem;
    margin-top: 4rem;
    gap: 5rem;
}
#user-score,#comp-score{
    font-size: 4rem;
}
.msg-container{
    margin-top: 5rem;

}
#msg{
   background-color:#081b30; /*  #081b30 */
    display: inline;
    color: white;
    padding: 0.5rem;
    font-size: 2rem;
    border-radius: 1rem;
}
#msg:hover{
    color: rgb(16, 4, 248);
    cursor: pointer;
}
footer {
    background-color: rgb(81, 32, 241); /* Set the background color of the footer */
    color: #fff; /* Set the text color of the footer */
    padding: 20px; /* Add padding to the footer for better spacing */
    text-align: center; /* Center-align the text in the footer */
    position: fixed; /* Fixed position to keep it at the bottom of the page */
    bottom: 0;
    font-size: 1.5rem; /* Stick the footer to the bottom of the page */
    width: 100%; /* Make the footer span the entire width of the page */
}
/*  */
#section{
    position: relative; /* Set the position to relative to position the ::before pseudo-element */
    padding: 20px;
    /* color: #fff; Set text color to white or a contrasting color */
  }
  
#section::before {
    content: ""; /* Required for the ::before pseudo-element */
    position: absolute; /* Position the pseudo-element absolute within the relative .content */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('./images/hands-playing-rock-paper-scissors-260nw-2187551809.png'); /* Replace 'path/to/your-image.jpg' with the actual path to your image */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.5; /* Adjust the opacity to your preference (0.0 to 1.0) */
    z-index: -1; /* Send the pseudo-element to the back */
  }